<template name="acceptedList">
<div class="wrapperHeader">
   <div id="TN_header">
    <img src="stories/blue_dot_header.png" alt="logo"/>
   </div>
   <div id="accept_Hdr_grn"></div>
   <div id="accept_Hdr_blu"></div>

   <div class="txt_cloud_action">
     <p class="lastNode">Accepted</p>
   </div>
   <div class="txt_cloud_girls">
    <p class="lastNode">Messages</p>
   </div>
  </div>
  <div class="GSLogo">
    <img src="stories/GS_ART_profiles_white.png" alt="logo"/>
   </div>

  <div>{{> loginButtons}}</div>
  <div class="feed">
    <header>
      <h2>Accepted Messages</h2>
      <div class="sub header">Messages approved by moderators</div>
    </header>
    {{#if currentUser }}
      {{#each messages}}
        {{> messageItem}}
      {{/each}}

      {{#if nextPath}}
        <a class="load-more" href="{{nextPath}}">Load more</a>
        {{else}}
        {{#unless ready}}
          {{> spinner}}
        {{/unless}}
      {{/if}}
    {{/if}}
  </div>
</template>
