<template name="grid">
  <div class="wrapperHeader">
    <div id="TN_header">
      <img src="stories/ThenNow_header.png" alt="logo"/>
    </div>

    <div class="txt_cloud_action blue-banner">
      Girl Scout Stories
    </div>
    <div class="txt_cloud_girls">
      Then and Now
    </div>
  </div>
  <div class="GSLogo">
    <img src="stories/GS_ART_profiles_white.png" alt="logo"/>
  </div>

  <div class="Txt_Living text-center">
    Living a Girl Scout&rsquo;s Dream
  </div>
  <div class="Txt_Scroll text-center">
    <strong>Scroll to browse.</strong> Double tap to select a Girl Scout and read her story
  </div>

  <section class="grid-wrap">
    <ul id="grid" class="grid swipe-rotate">
      {{#each stories}}
        {{> gridItem}}
      {{/each}}
    </ul>
  </section>
</template>
