<template name="messageItem">
  <div class="message">
    <div class="date"><img src="stories/date_dot.png" class="date_dot">{{moments created_at}}</div>
    <div class = 'summary'>
      {{text}}
    </div>
    <p class="message_name">
      Submitted by <span  class='submitted_name'>{{name}} {{last_name}}</span>, from <span
        class="origin">{{origin}}</span> station.
    </p>
    </div>
    <div class="actions">
      {{#unless isAccepted}}
        <button class='accept' type="button"><img src="/stories/accept_button.png"/></button>
      {{/unless}}
      <button class='reject' type="button">X</button>
    </div>
</template>
