<template name="pledgeSubmitChildren">
  <div class="wrapperHeader">
    <div id="TN_header">
      <img src="https://d3tbjvpzzk3rum.cloudfront.net/stories/blue_dot_header.png" alt="logo"/>
    </div>
    <div class="txt_cloud_action">
      Make a
    </div>
    <div class="txt_cloud_girls">
      Take Action Pledge
    </div>
  </div>
  <div class="GSLogo">
    <img src="https://d3tbjvpzzk3rum.cloudfront.net/stories/GS_ART_profiles_white.png" alt="logo"/>
  </div>
<div id="fs-form-wrap" class="fs-form-wrap">
    <form id="myform" class="fs-form fs-form-full" autocomplete="off">
      <ol class="fs-fields">
        <li class="copy_big">
          <div class="fs-anim-lower">
            So many issues confront us in our community and around the
            world. Sometimes the problems seem overwhelming.
            <br>
            Can girls really change that? Can you change the world?
          </div>
        </li>
        <li class="copy_big">
          <div class="fs-anim-lower">
            You can. There are so many opportunities to make a difference.
            And you can start today!
          </div>
        </li>
        <li>
          <label class="fs-field-label fs-anim-upper" for="words">
            Choose your issue
          </label>
          <div id="poll" class="fs-anim-lower">
            {{#each words}}
              <div class="fs-words">{{> wordItem}}</div>
            {{/each}}
          </div>
        </li>
        <li class="copy_big">
          <div class="fs-anim-lower">
            <h3>Write your pledge</h3>
            You've chosen a BIG issue. Now you've got to get real
            and commit to one
            small step. You could ask a friend to team up with
            you, walk around your
            community to identify issue-specific problems
            you could tackle, or
            brainstorm a Take Action project with your
            troop. It's all up to you.
          </div>
        </li>
        <li>
          <label class="fs-field-label fs-anim-upper" for="name">
            What is your first name
          </label>
          <input id="q1" class="fs-anim-lower" type="text" name="name"
          placeholder="First name" required/>
        </li>
        <li>
          <label class="fs-field-label fs-anim-upper" for="last_name">
            What is your last name
          </label>
          <input id="q2" class="fs-anim-lower" type="text" name="last_name"
          placeholder="Last name" required/>
        </li>
        <li>
          <label class="fs-field-label fs-anim-upper" for="message">
            Message
          </label>
          <span class="fs-field-label fs-anim-lower copy">I pledge to&hellip;</span>
          <textarea id="q3" class="fs-anim-lower" name="message" required></textarea>
          <div class="clearfix char-helper">
            <span class="fs-anim-lower char-count-js right"></span>
          </div>
          <div class="fs-anim-lower twitter_copy small">
            Please don't include a Twitter handle or other identifying information.
            All entries will be reviewed before they are projected onto the globe
            and posted to Twitter. Search for #GSC14 and retweet to share your
            vision!
          </div>
        </li>
        <li>
          <div class="fs-field-label fs-anim-upper copy_big">
            <h4>Thanks for pledging to take action back at home!</h4>
          </div>
        </li>
      </ol>
      <button class="fs-submit" type="submit">Send your wish</button>
    </form>
  </div>
</template>
