<template name="pledgeSubmit">
  <header>
    Make your Pledge to the world to #TakeActionHome, and tell us what issues
    you think are the most important facing girls right now #GSC14.<br/>
    Your pledges will be sent to the pledge wall and then tweeted on the @GSUSA
    account
  </header>
  <form class="main" action="">
    <div class="control-group">
      <div class="control-label" for="name">Name</div>
      <div class="controls">
        <input type="text" name="name" placeholder="What is your name?">
      </div>
    </div>
    <div class="control-group">
      <div class="control-label" for="message">Message</div>
      <div class="controls">
        <textarea type="text" name="message" cols="50" rows="3"></textarea>
        <span class="char-count-js"></span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit">
      </div>
    </div>
  </form>
</template>
