<template name="pledgeChoose">
  <h1>Take Action Home!</h1>
  <p>
    How are you going to take action when you get home? One step at a time, of
    course. Pledge to take that first step, right here at convention!
  </p>
  <h5>Select your Girl Scout grade level:</h5>
  <ul>
    <li><button class="js-children">Daisy</button></li>
    <li><button class="js-children">Brownie</button></li>
    <li><button class="js-children">Junior</button></li>
    <li><button class="js-children">Cadette</button></li>
    <li><button class="js-children">Senior</button></li>
    <li><button class="js-children">Ambassador</button></li>
    <li><button class="js-adults">Adult</button></li>
  </ul>
</template>
