<template name="pledgeChoose">
  <div class="wrapperHeader">
    <div id="TA_header">
      <img src="https://d3tbjvpzzk3rum.cloudfront.net/stories/blue_dot_header2.png" alt="take action hed"/>
    </div>
     <div class="take_action_logo">
    <img src="https://d3tbjvpzzk3rum.cloudfront.net/stories/Take_Action_Logo.png" alt="logo"/>
  </div>
  </div>

  <div class="GSLogo">
    <img src="https://d3tbjvpzzk3rum.cloudfront.net/stories/GS_ART_profiles_white.png" alt="logo"/>
  </div>

  <div id="choosewrapper">
    <p>
      How are you going to take action when you get home? One step at a time, of
      course. Pledge to take that first step, right here at convention!
    </p>
    
    <div id="buttonwrap">
      <span><h3>Select your Girl Scout grade level:</h3></span>
      <ul>
        <li><button class="js-children">Daisy</button></li>
        <li><button class="js-children">Brownie</button></li>
        <li><button class="js-children">Junior</button></li>
        <li><button class="js-children">Cadette</button></li>
        <li><button class="js-children">Senior</button></li>
        <li><button class="js-children">Ambassador</button></li>
        <li><button class="js-adults">Adult</button></li>
      </ul>
    </div>
  </div>
</template>
