<template name="pledgeSubmit">
  <div class="wrapperHeader">
    <div id="TN_header">
      <img src="../stories/blue_dot_header.png" alt="logo"/>
    </div>
    <div class="txt_cloud_action">
      Take Action and
    </div>
    <div class="txt_cloud_girls">
      Pledge to Support Girls
    </div>
  </div>
  <div class="GSLogo">
    <img src="../stories/GS_ART_profiles_white.png" alt="logo"/>
  </div>
  <div id="fs-form-wrap" class="fs-form-wrap">
    <form id="myform" class="fs-form fs-form-full" autocomplete="off">
      <ol class="fs-fields">
        <li class="copy">
          <div class="fs-anim-lower">
            Stand up for girls! We know it's not enough to tell them they can
            do and be anything&mdash;we have to take action and provide them
            with the opportunities and support they need to follow their dreams.
            What will you do when you get home to make this a better world for
            girls?
          </div>
        </li>
        <li>
          <label class="fs-field-label fs-anim-upper" for="words">
            Choose your way to help girls.
          </label>
          <div class="fs-anim-lower">
            {{#each words}}
              {{> wordItem}}
            {{/each}}
          </div>
        </li>
        <li class="copy">
          <div class="fs-anim-lower">
            <h3>Write your Pledge</h3>
            Choose a realistic goal. Commit to one concrete step. Maybe
            you'll join your council's Gold Award committee, volunteer to lead a
            troop, or take girls on a field trip to explore a stream habitat.
            It's all up to you.
          </div>
        </li>
        <li>
          <label class="fs-field-label fs-anim-upper" for="name">
            What is your first name
          </label>
          <input id="q1" class="fs-anim-lower" type="text" name="name" placeholder="First name" />
        </li>
        <li>
          <label class="fs-field-label fs-anim-upper" for="last_name">
            What is your last name
          </label>
          <input id="q2" class="fs-anim-lower" type="text" name="last_name" placeholder="Last name"/>
        </li>
        <li>
          <label class="fs-field-label fs-anim-upper" for="message">
            Message
          </label>
          <span class="fs-field-label fs-anim-lower copy">I see a world&hellip;</span>
          <textarea id="q3" class="fs-anim-lower" name="message"></textarea>
          <div class="clearfix char-helper">
            <span class="fs-anim-lower char-count-js right"></span>
          </div>
          <div class="fs-anim-lower copy small">
            Please don't include a Twitter handle or other identifying information.
            All entries will be reviewed before they are projected onto the globe
            and posted to Twitter. Search for #GSC14 and retweet to share your
            vision!
          </div>
        </li>
        <li>
          <div class="fs-field-label fs-anim-upper copy">
            <h4>Thanks for pledging to take action back at home!</h4>
            But you don&apos;t have to wait until you return-you can take
            action even before you leave convention. Here&apos;s what you
            can do at the experience lab near the globe:
            <ul>
              <li>Sign-up for the Girl Scout Advocacy Network.</li>
              <li>Invest in girls by giving to ToGetHerThere.</li>
            </ul>
          </div>
        </li>
      </ol>
      <button class="fs-submit" type="submit">Send your wish</button>
    </form>
  </div>
</template>
