<template name="pledgeSubmit">
  <div class="wrapperHeader">
    <div id="TN_header">
      <img src="../stories/blue_dot_header.png" alt="logo"/>
    </div>
    <div class="txt_cloud_action">
     Take Action and
    </div>
    <div class="txt_cloud_girls">
      Pledge to Support Girls
    </div>
  </div>
  <div class="GSLogo">
    <img src="../stories/GS_ART_profiles_white.png" alt="logo"/>
  </div>
  <header>
    <h1>Take Action and Pledge to Support Girls</h1>
    <p>
      Stand up for girls! We know it's not enough to tell them they can do and
      be anything&mdash;we have to take action and provide them with the
      opportunities and support they need to follow their dreams. What will you
      do when you get home to make this a better world for girls?
    </p>
  </header>
  <form class="main" action="">
    <div class="control-group">
      <div class="control-label" for="words">Choose your way to help girls.</div>
      <div class="controls">
        {{#each words}}
          {{> wordItem}}
        {{/each}}
      </div>
    </div>
    <div class="control-group">
      <h3>Write your pledge</h3>
      <p>
        Choose a realistic goal. Commit to one concrete step. Maybe you'll join
        your council's Gold Award committee, volunteer to lead a troop, or take
        girls on a field trip to explore a stream habitat. It's all up to you.
      </p>
      <div class="control-label" for="name">Name</div>
      <div class="controls">
        <input type="text" name="name" placeholder="What is your name?">
      </div>
    </div>
    <div class="control-group">
      <div class="control-label" for="last_name">Last Name</div>
      <div class="controls">
        <input type="text" name="last_name" placeholder="What is your last name?">
      </div>
    </div>
    <div class="control-group">
      <div class="control-label" for="message">Message</div>
      <div class="controls">
        <textarea type="text" name="message"
          cols="50" rows="3" placeholder="I pledge to&hellip;"></textarea>
        <span class="char-count-js"></span>
      </div>
      <p>
        Please don't include a twitter handle or other identifying information.
        Your pledge will be reviewed before it is posted on our pledge wall and
        to Twitter. Retweet your pledge and spread the word!
    </p>    </div>
    <div class="control-group">
      <div class="controls">
        <input type="submit" value="Submit">
      </div>
    </div>
  </form>
</template>
