<template name="pledgeWall">
  <div class="wrapperHeader">
   <div id="TN_header">
    <img src="stories/blue_dot_header.png" alt="logo"/>
   </div>
   <div id="pledge_Hdr_grn"></div>
   <div id="pledge_Hdr_blu"></div>

   <div class="txt_pledge">
     <p class="lastNode">Take Action Pledges</p>
   </div>
   <div class="txt_gsc14">
    <p class="lastNode">#GSC14</p>
   </div>
  </div>
  <div class="GSLogo">
    <img src="stories/GS_ART_profiles_white.png" alt="logo"/>
   </div>

  <div class="feed">
    {{#each messages}}
      {{> pledgeItem}}
    {{/each}}

    {{#if nextPath}}
      <a class="load-more" href="{{nextPath}}">Load more</a>
    {{else}}
      {{#unless ready}}
        {{> spinner}}
      {{/unless}}
    {{/if}}
  </div>
</template>
