<template name="story">
  <div class="story-card">
    {{#with story}}
      <div class="faces">
        <div class="face front">
          <img src="{{ thenPath }}" alt="{{ beforeCaption }}">
          <h5 class="caption">Then: {{ beforeCaption }}</h5>
        </div>

        <div class="face back" border="30">
          <img src="{{ nowPath }}" alt="{{ afterCaption }}" >
          <div>
          <h5 class="caption">Now: {{ afterCaption }}</h5>
          <div class="backLogo">
           <img src="stories/GS_ART_profiles_white.png" alt="backlogo"/>
         </div>
          </div>
        </div>
      </div>
    {{/with}}
  </div>
  <div class="call-animation-js">
    <canvas id='animation-canvas'>Sorry your browser doesn't support the &lt;canvas&gt; element.</canvas>
    <div class="text-box"></div>
  </div>
</template>
