div#TA_header img{
  position:absolute;
  top:0px;
  width:100%;
  height:140px;
  left:0px;
}

.take_action_logo img{
position: fixed;
top: 2.75em;
width: 22em;
height: 50px;
margin: 6px;
float: center;
vertical-align: middle;
left: 36%;
z-index: 100;

}


#choosewrapper{
  position:relative;
  margin-top:12em;
  text-align: center;
}

#choosewrapper > p{
  position: relative;
  font-weight: 500;
  font-size: 1.75em;
  padding:10px;
  width: 53%;
  margin:30px;
  display: block;
  float:center;
  left:22%;
  line-height: 115%;
}

#buttonwrap{
  display: inline-block;
  position: relative;
  width:65%;
  float:center;
}

#buttonwrap ul{
  list-style-type: none;
}

#buttonwrap ul li{
  text-decoration: none;
  display:inline;
  width:80%;
}

input[type=checkbox] {  
    display: none;  
} 

/*input[type=checkbox]:after {  
    display: none;  
    background-color: #00ae58;
    border:2px #f286b6;
}*/

.js-children{
  display:inline-block;
  padding: 0.6em 1.5em;
  /* border: .095em solid #d3d3d3;*/
  border:none;
  border-radius: 40px;
  font-weight: 300;
  font-size: 1em;
  width:9em;
  height:3em;
  background:#fff;
  margin:10px;
  color:#00ae58;
  text-align: center;
}
.js-children li{
  list-style: none;
}

.js-adults{
  padding: 0.6em 1.5em;
  /*border: 2px solid #232529;*/
  border-radius: 40px;
  border:none;
  font-weight: 300;
  font-size: 1em;
  width:9em;
  height:3em;
  background:#00adef;
  margin:10px;
  color:#fff;
  text-align: center;
}

.js-children:hover{
  background-color:#00ae58;
  color:#fff;
}

.js-adults:hover{
  background-color:#fff;
  color:#00adef;
  font-weight: 600;
}

.js-children:after{
  background-color: #00ae58;
    border:2px #f286b6;
  }