.story-card {
  -webkit-perspective: 800;
  width: 100%;
  height:100%;
  position: relative;
  margin: 3px;
  float:left;
  display: none;
}
.story-card .faces.flipped {
  -webkit-transform: rotatey(-180deg);
}
.story-card .faces {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 2.5s;
}
.faces{
  /*border: 30px solid #00ae58;
  min-height:768px;*/
}
.story-card .faces .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ; /**/
  z-index: 2;
  font-family: "omnes-pro";
  font-weight:400;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
}
.story-card .faces .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
.story-card .faces .back {
  -webkit-transform: rotatey(-180deg);
}
/*.caption {
  margin-top: 0px;
  font-family: "omnes-pro";
  font-weight:400;
  font-size: 1.5em;
  width:100%;
  height:250px;
  background-color: #00ae58;
  color:#fff;
}*/
.call-animation-js {
  display: none;
  background: -webkit-radial-gradient(rgb(0,230,0), rgb(0,100,0));
  background: -moz-radial-gradient(rgb(0,230,0), rgb(0,100,0));
  background: radial-gradient(rgb(0,230,0), rgb(0,100,0));
}
#call-to-action-canvas {
  position: absolute;
  width:100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.text-box {
  background: rgba(0,0,0,0.1);
  height: 100px;
  position: absolute;
  top: 55%;
  left: 50%;
}
.text-box > p {
  color: #FFF;
  font-weight: bold;
  font-family: 'omnes-pro';
  font-size: 4em;
  text-align: center;
  margin-top: 10px;
}

.backLogo img {
  position:absolute;
  bottom:120px;
  width: 60px; /* the width of the logo image */
  height: 58px;  /*the height of the logo image*/
  margin:20px;
  float:left;
  vertical-align: middle;
  left:10px;
}
