.story-card {
  -webkit-perspective: 800;
  position: relative;
  margin: 3px;
  float:left;
  display: none;
}

.story-card .faces.flipped {
  -webkit-transform: rotatey(-180deg);
}

.story-card .faces {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 2.5s;
}

.story-card .faces .face {
  -webkit-backface-visibility: hidden;
  z-index: 2;
  font-family: "omnes-pro";
  font-weight:400;
  font-size: 3em;
  text-align: center;
  line-height: 200px;
}

.story-card .faces .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.story-card .faces .back {
  -webkit-transform: rotatey(-180deg);
}

.face > img {
  margin-top: 4%;
  width: 96%;
}

.call-animation-js {
  display: none;
  background: -webkit-radial-gradient(rgb(0,230,0), rgb(0,100,0));
  background: -moz-radial-gradient(rgb(0,230,0), rgb(0,100,0));
  background: radial-gradient(rgb(0,230,0), rgb(0,100,0));
}

#call-to-action-canvas {
  position: absolute;
  width:100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.text-box {
  background: rgba(0,0,0,0.1);
  height: 100px;
  position: absolute;
  top: 55%;
  left: 50%;
}

.text-box > p {
  color: #FFF;
  font-weight: bold;
  font-family: 'omnes-pro';
  font-size: 4em;
  text-align: center;
  margin-top: 10px;
}
