.fs-words input[type=checkbox] {
    display: none;
}

.fs-words input[type=checkbox]:checked + label :after{
  color: #fff;
  background-color: #00ae58;
  font-style: normal;
}
.fs-words{
  -webkit-appearance: none;
  display:inline;
  font-weight: 400;
  font-size: .5em;
  margin:auto;
}

.fs-words li{
  list-style: none;
  border:.095em solid #d3d3d3;
  border-radius: 8px;
  background:#fff;
  color:#00ae58;
  width:7em;
  height:2.5em;
text-align: center;
vertical-align: middle;
top: -.5em;
}

.fs-words > li:hover{
  background-color:#00ae58;
  color:#fff;
}

.fs-words label{
  vertical-align: middle;
top: .3em;
}

.fs-words > li label:hover::before{
  background-color:#00ae58;
  color:#fff;
}
.fs-words:active, .fs-words:checked:active {
  background-color:#00ae58;
  color:#fff;
}

li.fs-words:checked {
  background-color:#00ae58;
  color:#fff;
}

.copy{
font-size: .6em;
width: 75%;
left: -5%;
text-align: left;
line-height: 125%;
margin-top: -1.2em;
}

.copy_big{
font-size: .85em;
width: 75%;
left: -5%;
text-align: left;
/*line-height: 125%;*/
margin-top: -1.5em;
}

.pledge2{
font-size: .85em;
width: 80%;
left: 10%;
text-align: left;
line-height: 150%;
padding:.5em;
}

.twitter_copy{
font-size: .4em;
width: 75%;
left: -15%;
text-align: left;
line-height: 125%;
margin-top: -1em;
}