h2.u_list {
  padding:1em;
  font-weight: 400;
  margin-left: 2em;
}

.message {
  width: 80%;
  display: block;
  position: relative;
  margin: 0 auto;
  font-family:'Roboto', sans-serif;
  font-weight: 200;
  border-left: thin solid #00ae58;
}

.actions {
  position:relative;
  top:-0.9em;
  float:right;
  width:20%;
  vertical-align:middle;
  margin-right: 14em;
}

.accept {
  position: relative;
  cursor:pointer;
  text-decoration:none;
  background-color: transparent;
  border: none;
  overflow: hidden;
}

.accept img {
  width: 40px;
  height: 38px;
}

.reject {
  position: relative;
  background-repeat: no-repeat;
  background-position: 14px 12px;
  border: 1px #d3d3d3;
  background-color: #fff;
  color: #d3d3d3;
  font-size: 1em;
}

.reject {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
}

.date_dot {
  position: relative;
  left: -1.3em;
  width: 1em;
  margin-right: 1.1em;
  margin-top:.3em;
  image-rendering: -moz-crisp-edges;         /* Firefox */
  image-rendering:   -o-crisp-edges;         /* Opera */
  image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
}

.date {
  position:relative;
  float:left;
  font-weight: 400;
  font-size:1em;
  line-height: 200%;
  width:100%;
  margin:25px 0 10px 12px;
  padding-top: 10px;
}

.summary {
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-left: 50px;
  font-size: 1.15em;
  font-weight:300;
  line-height:125%;
  color:rgb(51,51,51);
  text-align:left;
  width: 63%;
  height:80px;
  display:inline-block;
  word-wrap: break-word;
}

.accept img:hover {
  border:5px #fff100;
}

.reject:hover {
  background-color:red;
}

.submitted_name {
  color:#00ae58;

}

p.message_name {
  font-family: "omnes-pro";
  font-size: 1.1em;
  line-height: 136%;
  width: 70%;
  color: rgb(51,51,51);
  text-align: left;
  padding: 0 0 10px 5px;
  background-color: transparent;
  border-color: rgb(187,187,187);
  border-width: 1.5px;
  border-bottom: thin dotted;
  position: absolute;
  left: 50px;
}

.pledge_message {
  width: 90%;
  display: block;
  position: relative;
  margin: 50px auto;
  font-family:"omnes-pro", sans-serif;
  border-left: thin solid #00ae58;
}

.pledge_text {
  position: relative;
  margin: 20px 10px;
  font-size: 1.5em;
  font-weight:300;
  line-height:125%;
  color:#000;
  text-align:left;
  width:75%;
  height:120px;
  display:inline;
  word-wrap: break-word;
}

#login-buttons {
  margin-top: 12%;
}
