*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
  font-size: 100%;
  line-height: 1.25;
  font-family: 'omnes-pro', sans-serif;
  font-weight: 200;
  background-color:rgb(234,244,234);
  margin: 0px;
}

h1{
font-family: 'omnes-pro', sans-serif;
font-weight: 600;
}
a {
  color: #FF2A48;
  text-decoration: none;
  outline: none;
}

a:hover, a:focus {
  color: #2E3444;
}

.grid-wrap {
  background-color:rgb(234,244,234);
  clear: both;
  margin: 0 auto;
  padding: 0;
  max-width: 1260px;
}

.grid {
  margin: 30px auto;
  padding: 0;
  min-height: 500px;
  list-style: none;
}

.grid {
  background: url(https://d3tbjvpzzk3rum.cloudfront.net/stories/loading.gif) no-repeat 50% 100px;
}

.grid.loaded {
  background: none;
}

.grid li {
  display: inline-block;
  overflow: hidden;
  width: 314px;
  height: 474px;
  text-align: left;
  vertical-align: top;
}

.grid li {
  display: none;
  float: left;
}

.grid.loaded li {
  display: block;
}

.title-box h2 {
  display: block;
  margin: 7px;
  padding: 20px;
  background: #2E3444;
  color: #D3EEE2;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 300;
}

.title-box h2 a {
  display: block;
  font-weight: 300;
  color: #FAA519;
  text-decoration: none;
}

.title-box h2 a:hover {
  color: #D3EEE2;
}

/* Anchor and image */
.grid li > a,
.grid li img {
  display: block;
  outline: none;
  width:300px;
  /*border: none;*/
}

.grid li > a {
  position: relative;
  overflow: hidden;
  margin: 7px;
}

/* Curtain element */
.grid .curtain {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #96CDC8;
 }

.grid.swipe-rotate .curtain {
  width: 200%;
  height: 200%;
  -webkit-transform: rotate3d(0, 0, 1, 90deg);
  transform: rotate3d(0, 0, 1, 90deg);
  -webkit-transform-origin: top left;
  transform-origin: top left;
}

/* Shadow */
.grid .curtain::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  content: '';
}

.grid.swipe-rotate .curtain::after {
  left: -100%;
}

/* Title */
.grid li h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  width: 100%;
  background: #1D4499;
  color: #D3EEE2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1em;
  -webkit-transition: -webkit-transform 0.2s, color 0.2s;
  transition: transform 0.2s, color 0.2s;
}

.grid li h3:target {
background:#00ae58;
}

/* Animations */
.grid.swipe-rotate li.animate .curtain {
  -webkit-animation: swipeRotate 1.5s ease forwards;
  animation: swipeRotate 1.5s ease forwards;
}

@-webkit-keyframes swipeRotate {
  0% {}
  50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); }
  100% { -webkit-transform: rotate3d(0,0,1,-90deg); }
}

@keyframes swipeRotate {
  0% {}
  50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); transform: rotate3d(0,0,1,0deg); }
  100% { -webkit-transform: rotate3d(0,0,1,-90deg); transform: rotate3d(0,0,1,-90deg); }
}

/* Shadow */
.grid li.animate .curtain::after {
  -webkit-animation: fadeOut 1.5s ease forwards;
  animation: fadeOut 1.5s ease forwards;
  -webkit-animation-delay: inherit;
  animation-delay: inherit;
}

@-webkit-keyframes fadeOut {
  0% {}
  50%, 60% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fadeOut {
  0% {}
  50%, 60% { opacity: 1; }
  100% { opacity: 0; }
}

.grid li img,
.grid li h3 {
  visibility: hidden;
}

.grid li.animate img,
.grid li.animate h3 {
  -webkit-animation: showMe 1.5s step-end forwards;
  animation: showMe 1.5s step-end forwards;
}

@-webkit-keyframes showMe {
  from { visibility: hidden; }
  60%, 100% { visibility: visible; }
}

@keyframes showMe {
  from { visibility: hidden; }
  60%, 100% { visibility: visible; }
}

.grid li.shown img,
.grid li.shown h3 {
  visibility: visible;
}

#grid_side_left{
position:fixed;
z-index: 4;
float:left;
left: 2%;
top:80%;
width:9em;
height:2em;
background-color: #00ae58;
border-radius: 20px;
color:#fff;
text-align: center;
padding-top:.325em;
font-weight: 500;
}
#grid_side_right{
position:fixed;
z-index: 4;
float: right;
right: 2%;
top:78.25%;
width:9em;
height:2em;
background-color: #00ae58;
border-radius: 20px;
color:#fff;
text-align: center;
padding-top:.325em;
font-weight: 500;
}